.account-content
  h3 Your Account
  col-md-6
    h4 Change your username (name on livecalc.xyz)
    form(action="/account-username", method="post")
      fieldset
        label User name (6-40 letters and numbers)
        br
        input(type="text", pattern="^[A-Za-z0-9]{6,40}$", 
              name="username", placeholder="JohnSmith", 
              value=user.get_username()
              )
      .text-left
        button(type="submit" value="submit")
          | Change username
    h4 Set your name (optional)
    form(action="/account-name", method="post")
      fieldset
        label  Your name (6-40 letters and numbers)
        br
        input(type="text", pattern="^[A-Za-z0-9\ \-]{1,60}$", 
              name="name", placeholder="John A. Smith", 
              value=user.get_name()
              )
      .text-left
        button(type="submit" value="submit")
          | Change name
    h4 Change email address
    form(action="/account-email", method="post")
      fieldset 
        label New email address
        br
        input(
              type="email", name="email", 
              placeholder="email@email.com",
              value=user.get_email()
              )
      .text-left
        button(type="submit" value="submit")
          | Change email address
  col-md-6
    h4 Password Change
    form(action="/account-password", method="post")
      fieldset
        label Current password
        br
        input(type="password", name="current_password", pattern="^.{6,}$", placeholder="Current password")
        br
        br
        label New password
        br
        input(type="password", name="new_password", pattern="^.{6,}$", placeholder="New password")
        br
        br
        label Retype new password
        br
        input(type="password", name="new_password_repeat", pattern="^.{6,}$", placeholder="Retype new password")
      .text-left
        button(type="submit" value="submit")
          | Change password
  clearfix
  br
  hr
  p.text-center
    a(href="/dashboard")
      button
          |  Go back to my dashboard
