.dashboard-content
  col-md-6
    h3 Dashboard
    - var name = user.get_name() || ""
    if(name != "")
      p
        | Name: 
        = name
    p
      | Username: 
      = user.get_username()
    h4 Recently visited sheets
    if recent_sheets.length == 0
      p (No recently visited sheets)
    .recent-sheet-list.list
      table
        for sheet in recent_sheets.reverse()
          -url = "/sheet/"+sheet
          tr
            td
              a(href=url)= url
            td.text-right
              a.run(href=url)
                button
                 | View

    p
      a(href="/new")
        button
         | Create a new sheet
    h4 Challenges you created
    if challenges.length == 0
      p (No challenges)
    else
      .challenge-list.list
        table
          for challenge in challenges.reverse()
            -url = "/challenge/" + challenge.public_id
            -del = url + "/delete"
            -run = url + "/run"
            tr
              td
                a(href=url)
                  = challenge.title
                  |  - 
                  = url
              td.text-right
                button.delete.post-button(
                  type="submit",
                  data-url=del,
                  data-params=JSON.stringify({id: challenge.public_id})
                )
                  | Delete
                a.run(href=run)
                  button
                   | Play
    p
      a(href="/challenge/new")
        button
         | Create a new challenge
  
  col-md-6
    h4 Account Settings
    p
      |  Change your username, password, email address & more : 
      a(href="/account").account-settings-link
        button Account Settings
  clearfix
