doctype html
html
  head
    meta(charset='utf-8')
    meta
    // I'm so meta
    title livecalc.xyz Collaborative Calculator 
    link(rel='stylesheet', href='/fonts/fira/fira.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    header
      col-md-10
        h1.inline-block.mobile-center
          a(href='https://livecalc.xyz') livecalc.xyz
        p.inline-block.text-left.mobile-center
          | Github 
          a(href='https://github.com/antoineMoPa/livecalc', 
         target='_blank') project
          |  | backend: math.js | syntax documentation: 
          a(href='http://mathjs.org/docs/expressions/syntax.html',
            target='_blank')
            | mathjs docs
          |           |
          |           Version 0.0.10
      col-md-2.text-right.mobile-center
        a.new-sheet-button(href='/new', target='_blank')
          button New Sheet
    .main-page
      if landing
        include ./landing.pug
      col-md-9
        livecalc
      col-md-3
        livechat
      br
      p.text-center
        | Licence: 
        a(href='https://www.gnu.org/licenses/gpl-3.0.en.html',
          target='_blank')
          | GPLv3
      br
    template(name='livecalc-die')
      h3 Create a new sheet
      a(href='/new')
        button Create a new sheet
      h3 Go to homepage
      a(href='/')
        button Homepage
    template(name='livechat')
      .message-log
      .message-input
        textarea(placeholder='Join the conversation')
        button
          | Send
    template(name='livechat-received-message')
      .livechat-received-message
        .content
        .sender
    template(name='livechat-sent-message')
      .livechat-sent-message
        .content
        .sender
    template(name='small-doc')
      .doc
        include ./doc.pug
    template(name='single-field', data-params='class,default,info')
      .single-field(class='{{class}}')
        p {{info}}
        input(value='{{default}}')
        button Confirm
    template(name='livecalc-wait-click')
      .livecalc-wait-click
        button.livecalc-wait-click-button View
        p This might take some time to compute.
    template(name='livecalc')
      .livecalc
        .livecalc-header
          .sheet-state.text-left
          .user-count(title='(Including you)')
        .livecalc-cells
        template-instance(data-name='sheet-panel')
        .panel
          h3 Settings
          template-instance(data-name='single-field',
                            data-info='This name is used in the chat: '
                            data-class='nickname', 
                            data-default='anonymous')
        template-instance(data-name='small-doc')
    template(name='sheet-panel')
      .sheet-panel.panel
        h3 Sheet Panel
        col-md-3
          | Lock sheet from further editing
          button(name='lock-sheet')
            | Lock Sheet
        col-md-3
          | Open a copy
          br
          button(name='new-copy')
            | New Copy
        br
        h3 Stats
        p
          span.visit-count
            0
          |  visits.

    template(name='livecalc-cell')
      .livecalc-cell
        .text-part
        .math-part
          fieldset
            div
              input.inline-block.livecalc-input(
                type='text', 
                placeholder='Type math')
              button.inline-block.livecalc-go-button
                | Go
              pre.livecalc-output.
          p.users-info
          .plot
    template(name='modal-overlay')
      .modal-overlay
    template(name='modal-inform')
      .modal
        .content
          p
        .buttons
    script(src='/lib/math.min.js')
    script(src='/lib/d3.min.js', charset='utf-8')
    script(src='/lib/function-plot.js', charset='utf-8')
    script(src='/lib/socket.io.js')
    script(src='/main.js')
